<!doctype html>

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Autotech</title>
        <link rel="stylesheet" href="/public/assets/menu.css">
        <link rel="stylesheet" href="/public/assets/footer.css">
        <style>
            @import url('https://fonts.cdnfonts.com/css/vintage-party');
            @import url('https://fonts.cdnfonts.com/css/carnivalee-freakshow');
            div#ouho h1 {
                text-align: center;
                font-size: 50px;
                font-family: 'Vintage Party', sans-serif;
            }
            div#ouho p{
                text-align: center;
                font-size: 35px;
                font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';
            }
        </style>
    </head>

    <!-- On importe Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <body>
        <div id="menu">
            <img src="/public/images/logo.svg">
            <div id="element_container">
                <div class="active">
                    <a href='/home'>About Us</a>
                </div>
                <div>
                    <a href='/login'>Login</a>
                </div>
                <div>
                    <a href='/register'>Register</a>
                </div>
                <div>
                    <a href='/contact'>Contact</a>
                </div>
            </div>
        </div>
        <div id="ouho">
            <h1>Bienvenue sur le site du club de réparation automobile Autotech</h1>
            <p>Inscrivez-vous ou connectez-vous pour réparer votre voiture &#128736; &#128521; </p>
        </div>
    </body>
</html>