<!doctype html>

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Autotech</title>
        <link rel="stylesheet" href="/public/assets/menu.css">
        <link rel="stylesheet" href="/public/assets/footer.css">
        <link rel="stylesheet" href="/public/assets/index.css">

    </head>

    <!-- On importe Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <body>
        <div id="menu">
            <img src="/public/images/logo.svg">
            <div id="element_container">
                <div class="active">
                    <a href='/login'>Login</a>
                </div>
                <div>
                    <a href='/home'>About Us</a>
                </div>
                <div>
                    <a href='/register'>Register</a>
                </div>
                <div>
                    <a href='/contact'>Contact</a>
                </div>
            </div>
        </div>
        <div id="formulaire">
            <div id="username">
                <img src="/public/images/user_icon.svg">
                <input type="text" placeholder="Username" id="username" class="custom_input">
            </div>
            <div id="password">
                <img src="/public/images/password_icon.svg">
                <input type="password" placeholder="Password" id="password" class="custom_input">
            </div>
            <button class="custom_button" id="start">GET STARTED</button>
        </div>
        
        <div id="footer">
            <p><a href='/contact'>Contactez-nous</a> pour éviter de caler !</p>
            <img src="/public/images/footer_drapeau.svg">
            <img src="/public/images/footer_voiture.svg">
        </div>
    </body>
</html>