<!doctype html>

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Autotech</title>
        <link rel="stylesheet" href="/public/assets/menu.css">
        <link rel="stylesheet" href="/public/assets/footer.css">
        <link rel="stylesheet" href="/public/assets/register.css">
    </head>

    <!-- On importe Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <body>
        <div id="menu">
            <img src="/public/images/logo.svg">
            <div id="element_container">
                <div>
                    <a href='/home'>About Us</a>
                </div>
                <div>
                    <a href='/login'>Login</a>
                </div>
                <div class="active">
                    <a href='/register'>Register</a>
                </div>
                <div>
                    <a href='/contact'>Contact</a>
                </div>
            </div>
        </div>
        <div id="content">
            <div id="formulaire_container">
                <div id="title">
                    <h1>Get Started</h1>
                    <p>Already have an account ? <a href='/login'>Log in</a></p>
                </div>
                <div id="resultatCreateUser">
                    <p>Tous les champs sont obligatoires</p>
                </div>
                <div id="formulaire">
                    <div id="form_elements">
                        <div>
                            <label for="name">Name</label>
                            <input id="nomCreation" type="text" name="name" class="custom_input">
                        </div>
                        <div>
                            <label for="mail">Email</label>
                            <input id="emailCreation" type="email" name="mail" class="custom_input">
                        </div>
                        <div>
                            <label for="pass">New Password</label>
                            <input id="passCreation" type="password" name="pass" class="custom_input">
                        </div>
                        <div>
                            <label for="confirmpass">Confirm your Password</label>
                            <input id="passAgain" type="password" name="confirmpass" class="custom_input">
                        </div>
                    </div>
                    <button onclick="createUser()" id="signup">Sign Up</button>
                    <div id="else">
                        <span class="line"></span>
                        <div>Or Sign Up With</div>
                        <span class="line"></span>
                    </div>
                    <div id="reseaux">
                        <div>
                            <img src="/public/images/google.svg">
                        </div>
                        <div>
                            <img src="/public/images/apple.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <p><a href='/contact'>Contactez-nous</a> pour éviter de caler !</p>
            <img src="/public/images/footer_drapeau.svg">
            <img src="/public/images/footer_voiture.svg">
        </div>
    </body>
</html>

<script>
    function createUser() {

        // On récupère les données de l'utilisateur à créer
        const name = document.getElementById("nomCreation").value;
        const email = document.getElementById("emailCreation").value;
        const password = document.getElementById("passCreation").value;
        const password_confirmation = document.getElementById("passAgain").value;

        axios.post("http://localhost:3000/api/new_user", {name: name, email: email, password: password, password_confirmation: password_confirmation}).then(function (response) {
            const answer_str = JSON.stringify(response.data);
            if (answer_str.includes("Erreur") || answer_str.includes("failed")) {
                document.getElementById("resultatCreateUser").innerHTML = answer_str;
            }
            else{
                window.location.replace('/profile');
            }
        });
    }
</script>