@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

body {
    overflow-x: hidden;
}
div#content {
    width: 100vw;
    min-height: calc(100vh - 197px); 
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/public/images/background.svg");
    background-size: cover;
}
div#formulaire_container {
    width: 30vw;
    min-width: 400px;
    height: fit-content;
    padding-bottom: 25px;
    background: linear-gradient(145.36deg, rgba(244, 244, 244, 0.4) -4.23%, rgba(244, 244, 244, 0.2) 102.58%);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    box-sizing: border-box;
    border : 3px solid #f4f4f4ae;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:20px;
}

div#formulaire_container div#title {
    text-align: center;
    font-family: 'Poppins';
}
div#title h1 {
    font-weight: bold;
    font-size: 52px;
    color:white;
}
div#title p{
    font-weight: bold;
    font-size: 16px;
    color : black;
}
div#title a {
    color:#62FFB4;
    font-weight: normal;
}
div#resultatCreateUser{
    font-weight: normal;
    color : red;
}
div#formulaire {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 25px;
}
div#form_elements {
    width:80%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-weight: normal;
    font-size: 20px;
    color:white;
    gap:10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div#form_elements div {
    display: flex;
    flex-direction: column;
}

div#formulaire div input {
    box-sizing: border-box;
    border-bottom:3px solid #F4F4F4;
    width:100%;
}

button#signup {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    background-color: #BE4222;
    border-radius: 10px;
    width:12vw;
    height: 50px;
    text-align: center;
    min-width: 150px;
}

div#else {
    width:80%;
    display: flex;
    align-items: center;
}
div#else div {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    width:125px;
    text-align: center;
    color:white;
}
span.line {
    width: calc( 50% - 62.5px );
    height:3px;
    background-color: #F4F4F4;
}

div#reseaux {
    display: flex;
    gap:30px;
}

div#reseaux div {
    background-color: white;
    width:50px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    border-radius: 10px;
    box-shadow: 0px 6px 10px 1px #62ffb396;
    cursor:pointer;
}

@media (max-width: 450px) {
    div#formulaire_container {
        width: 90vw;
        margin: 20px auto;
        min-width: 200px;
    }
    div#title h1 {
        font-size: 28px;
    }
    div#title p{
        font-weight: bold;
        font-size: 14px;
    }
    div#form_elements,button#signup,div#else div {
        font-size: 14px;
    }
}